<div class="navbar has-shadow is-white">
  <!-- logo / brand - class bulma-->
  <div class="navbar-brand">
    <!-- logo -->
    <a class="navbar-item">
      <img
        id="navbar-logo"
        [src]="imagePath"
        [alt]="imageAlt"
        class="py-2 px-2"
      />
      <span class="title is-5"> Brigandyne</span>
    </a>

    <!-- menu burger -->
    <a class="navbar-burger" id="burger" (click)="toggleIsActiveClass()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <!-- Menu -->
  <div
    class="navbar-menu"
    id="nav-links"
    [ngClass]="isActiveClassStatus ? 'is-active' : 'is-not-active'"
  >
    <div class="navbar-end">
      <a class="navbar-item">Connexion</a>
      <a class="navbar-item">Inscription</a>
    </div>
  </div>
</div>
